<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLyzer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>URLyzer</h1>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    Analyze URL
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select class="custom-select" name="protocol">
                                    <option value="http://" selected>http://</option>
                                    <option value="https://">https://</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="search" name="url" placeholder="Enter URL">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>

        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
        {% else %}
        <div class="card mt-3">
            <div class="card-header">
                Analysis Details
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Title:</strong> {{ data.title }}</li>
                    <li class="list-group-item"><strong>Description:</strong> {{ data.description }}</li>
                    <li class="list-group-item"><strong>Headings:</strong>
                        {% if data.headings %}
                        <ul>
                            {% for heading in data.headings %}
                            <li>{{ heading }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        {% if data.headings is not None %}
                        No headings found
                        {% endif %}
                        {% endif %}
                    </li>

                    <li class="list-group-item"><strong>Internal Links:</strong>
                        {% if data.internal_links %}
                        <ul>
                            {% for link in data.internal_links %}
                            <li><a href="{{protocol}}{{ url }}{{ link }}">{{protocol}}{{ url }}{{ link }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        No internal links found
                        {% endif %}
                    </li>
                    <li class="list-group-item"><strong>Images Without Alt:</strong>
                        {% if data.images_no_alt %}
                        <ul>
                            {% for img in data.images_no_alt %}
                            <li><img src="{{ img }}" alt="Image without alt attribute"></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        No images without alt attribute found
                        {% endif %}
                    </li>
                    <li class="list-group-item"><strong>Mobile Friendly:</strong> {{ data.mobile_friendly }}</li>
                    <li class="list-group-item"><strong>Top Keywords:</strong>
                        {% if data.top_keywords %}
                        <ul>
                            {% for keyword, count in data.top_keywords %}
                            <li>{{ keyword }} ({{ count }})</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        No top keywords found
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

        {% endif %}
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>